ion-alert {
  border-radius: 15px;
  &.alert-warning {
      border-radius: 15px;
    .alert-head {
      background: map-get($colors, warning);
      color: #fff;
      margin-bottom: 10px;
      border-radius: 15px;
    }
  }
  &.alert-danger {
      border-radius: 15px;
      .alert-head{
      background: #222;
      color: #fff;
      margin-bottom: 10px;
      border: solid;
      border-radius: 15px;
      }
  }
  &.alert-success {
      border-radius: 15px;
    .alert-head {
      background: map-get($colors, success);
      color: #fff;
      margin-bottom: 10px;
    }
  }

}