<ion-content  center padding>
  
  <ion-refresher (ionRefresh)="doRefresh($event)" closeDuration="1000">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      refreshingSpinner="crescent"
      refreshingText="Checking Bluetooth connection...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-item center class="linea">
      <h1 class="logo">
          <span>&nbsp;LOGICLAB</span>
          <div class="container">
              <div class="baton-0"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-1"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-2"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-3"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-4"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-5"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-6"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-7"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-8"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-9"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-10"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-11"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-12"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-13"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-14"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-15"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-16"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-17"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-18"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-19"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-20"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-21"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-22"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-23"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-24"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-25"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-26"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-27"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-28"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-29"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-30"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-31"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-32"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-33"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-34"><div class="metronome"><div class="baton"></div></div></div>
              <div class="baton-35"><div class="metronome"><div class="baton"></div></div></div>
        </div>
      </h1>
    </ion-item>
    
    <ion-item class="next">

      <ion-row [ngSwitch]="pageState">
        <ion-col *ngSwitchCase="'SEARCHING'" text-center>
          <ion-spinner name="crescent" duration="1000"></ion-spinner>
          <p color="secondary" text-center>Looking for devices.</p>
        </ion-col>

        <ion-col *ngSwitchCase="'NOBLUETOOTH'" text-center>
          <ion-spinner name="crescent" duration="1000"></ion-spinner>
          <p color="secondary" text-center>Can't found devices.<br> Please check if Bluetooth is on.</p>
        </ion-col>

        <ion-col *ngSwitchCase="'DONE'" text-center>
          <p color="secondary" text-center>Choose a device:</p>
          <ion-list class="polo" radio-group [(ngModel)]="pairedDeviceId" *ngIf="listToggle">
            <ion-item class="polo" *ngFor="let p of deviceList; let i=index">
              <ion-label>{{p.name}}</ion-label>
              <ion-radio value="{{i}}"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>

      </ion-row>

    <button ion-button color="secondary" outline round class="boton"
      (click)="selectDevice()">CONNECT</button>
  </ion-item>
</ion-content>