page-result {
    .content-md {
        color: #222;
       background-color: #222;
    }

    * {
        box-sizing: border-box;
    }
    
    ion-list{
        background-color: #050505;
        color: white;
    }
    .polo{
        background-color :#222;
        color: white;
      
       
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
       background-color: #050505;
        overflow: hidden;
    }

    .linea{
        margin-top: 5%;
       border: solid;
       background-color: #222;
       height: 20vh;
       border-top-color:  #32db64;
       border-bottom-color:#32db64;
       border-left-color: #32db64;
       border-right-color: #32db64;
       outline: 1px solid  #f5a51c;
       border-radius: 20px;
       outline: inherit
    }

    .boton{
        @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
        padding-inline-end: 30px;
        padding-inline-start: 30px;
        position: absolute;
        bottom: 0%;
        left: 35%;
        margin-bottom: 8%;   
        width: 90px !important;
        height: 40px !important;
       
    }

    .next{
        height: 70vh;
        color: #16a085;
        border: solid;
       // top: 30px;
        position: relative;
        border: solid;
        border-radius: 20px;
        background-color: #222;
    }
    
    .logo {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        font-size: calc(1em + 6vw);
        letter-spacing: 0.08em;
        color: #eee;
        text-transform: uppercase;
        white-space: nowrap;
        user-select: none;
        align-self: center;
        padding: 32px;
        margin-left: 38px;
        
    //   position: absolute;
      //  left: 68px;
        //top: 50px;
    }
}