page-testing {

  .boton {
    @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    position: absolute;
    bottom: 0%;
    left: 40%;
    margin-bottom: 8%;
  }

}
