<ion-header>
  <ion-navbar>
    <ion-title>
      HOmee
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="open('bluetooth')">Open </button>
  <p text-center>
    This is Bluetooth communication test with Arduino HC-05
  </p>
  <button ion-button full (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices
  </button>
  <ion-row>
    <ion-col>
      <ion-list radio-group [(ngModel)]="pairedDeviceId" *ngIf="listToggle">
        <ion-item *ngFor="let p of pairedList; let i=index">
          <ion-label>{{p.name}}</ion-label>
          <ion-radio value="{{i}}"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <button ion-button full (click)="selectDevice()">
    <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth device
  </button>
  <ion-list>
    <ion-label>Type the Data You want to Send:</ion-label>
    <ion-input type="text" name="command" [(ngModel)]="command"></ion-input>
  </ion-list>
  <button ion-button full (click)="send()">
    <ion-icon name="send"></ion-icon>&nbsp;Send Data via Bluetooth
  </button>
</ion-content>
